/* ~~ Reset Defaults ~~ */
* {
    margin: 0;
    padding: 0;
}

/* ~~ Code Block used to Reset Buttons for Different Browsers ~~ */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/

button,
input { /* 1 */
    overflow: visible;
}

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/

button,
select { /* 1 */
    text-transform: none;
}

/**
* Correct the inability to style clickable types in iOS and Safari.
*/

/*rgba(96, 96, 96, 0.9)*/

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

/* ~~ Body ~~ */

body {
    background-image: linear-gradient(to right, rgba(96, 96, 96, 0.7), rgba(96, 96, 96, 0.8)), url(books.jpg);
    background-size: cover;
    word-break: break-word;
}

/* ~~ Header ~~ */

.header {
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center; 
}

#top-heading {
    text-align: center; 
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 2.5rem;
}

/* ~~ Book Button ~~ */

#add-book {
    display: block;
    margin: 40px auto 40px auto;
    font-family: 'Merriweather', serif;
    font-size: 1.2rem;
    width: 8rem;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px;
    border: 1px solid black;
    background-color: rgb(253, 91, 120)
}

#add-book:hover {
    background-color: rgb(238, 179, 189);
    scale: 1.1;
}

/* ~~ Form ~~ */

#overlay {
    height: 100%;
    width: 100%; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.7); 
    z-index: 2;
    visibility: hidden;
}

#book-form {
    width: 400px;
    height: 400px;
    background-color: rgb(38, 42, 78);
    border: 4px solid #000000;
    box-shadow: 0px 0px 2px 2px black;
    opacity: 1;
    color: white;
    position: fixed; 
    left: 50%;
    margin-left: -200px;
    top: 50%;
    margin-top: -170px;
    display: flex; 
    flex-direction: column;
    z-index: 999; 
    align-items: center;
    border-radius: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

#book-form h1 {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

input[type="text"], input[type="number"] {
    margin: 1rem;
    width: 70%;
    line-height: 1.5rem;
}

#buttons {
    border: none;
    box-shadow: none;
    width: 60%;
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    margin: 1rem;
    font-family: 'Merriweather', serif;
}

#buttons button, #buttons input {
    line-height: 1.5rem;
    font-size: 1.2rem;
    width: 6rem;
    box-shadow: 0px 0px 1px 1px;
}

/* ~~ Display Chart ~~ */

#library {
    border: 2px solid black; 
    border-radius: 10px;
    width: 800px;
    margin: 0 auto 50px auto; 
    background-color: rgba(255, 255, 255, 0.8);
}

#library-heading {
    box-sizing: border-box; 
    border-bottom: 2px solid black;
    width: 800px;
    margin: 0 auto;
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    text-align: center;
    padding: 2rem;
    font-family: 'Fredoka One', cursive;
    font-size: 1.2rem;
    justify-items: center;
    align-items: center;
}

#library-chart {
    box-sizing: border-box; 
    width: 800px; 
    min-height: 100px;
    margin: 0 auto;
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 1rem;
    text-align: center;
    padding: 2rem;
    font-size: 1.2rem;
    justify-items: center;
    align-items: center;
}

#library-chart button {
    border: none; 
    background-color: rgba(255, 255, 255, 0);
}

.red {
    color: red;
}

#library-chart button:hover {
    color: red; 
}

#library-chart .material-icons {
    font-size: 2rem;
    pointer-events: none;
}

.bold {
    font-weight: 800;
}
